.squeres-folder {
    display: flex;
    margin: 100px;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.left {
    position: relative;
    padding-right: 1px;
}

.right {
    padding-top: 2px;
    padding-left: 1px;
}

.up {
    position: relative;
    bottom: -3px;
}

.squere {
    display: inline-block;
    padding: 25px;
    color: black;
}

.center {
    border: 1px solid lightsteelblue;
    padding: 1px;
}

.row {
    font-size: 0;
}

.squere-center {
    margin: 1px;
    background-color: deepskyblue;
}

.squere-minus {
    visibility: hidden;
    transition: all 0.2s;
    background-color: rgba(255,0,0,1);
    position: relative;
}

.squere-minus::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -7px;
    margin-top: -1.5px;
    width: 14px;
    height: 3px;
    background-color: white;
}

.squere-plus::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -7px;
    margin-top: -1.5px;
    width: 14px;
    height: 3px;
    background-color: white;
}

.squere-plus::before{
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -7px;
    margin-top: -1.5px;
    width: 14px;
    height: 3px;
    transform: rotate(90deg);
    background-color: white;
}


.squere-minus:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: #d5494d;
}

.squere-plus {
    background-color: #faa427;
    position: relative;
}

.squere-plus:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: #fac060;
}

.pl-50 {
    padding-left: 53px;
}

.mt-1 {
    margin-top: 1px;
}