.squeres-folder {
    display: flex;
    margin: 100px;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.left {
    position: relative;
}

.top {
    position: relative;
}

.squere {
    display: inline-block;
    padding: 25px;
    color: black;
    margin: 1px;
}

.center {
    border: 1px solid lightsteelblue;
}

.squere-center {
    background-color: deepskyblue;
}

.squere-minus {
    visibility: hidden;
    transition: all 0.2s;
    background-color: rgba(255,0,0,1);
    position: relative;
}

.squere-minus::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -10px;
    margin-top: -2px;
    border-radius: 50px;
    width: 20px;
    height: 4px;
    background-color: white;
}

.squere-plus::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -10px;
    margin-top: -2px;
    border-radius: 50px;
    width: 20px;
    height: 4px;
    background-color: #e0e0e0;
}

.squere-plus::before{
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -10px;
    margin-top: -2px;
    border-radius: 50px;
    width: 20px;
    height: 4px;
    transform: rotate(90deg);
    background-color: #e0e0e0;
}


.squere-minus:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgba(255,0,0,0.6);
}

.squere-plus {
    background-color: yellow;
    position: relative;
}

.squere-plus:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgba(255,255,0,0.6);
}

.pl-50 {
    padding-left: 50px;
}